fastapi==0.103.1
uvicorn==0.23.2
sqlalchemy==2.0.20
pymysql==1.1.0
cryptography>=3.4.8
pydantic==2.3.0
python-dotenv==1.0.0
pyjwt==2.8.0 
requests~=2.32.4
requests[socks]~=2.32.4
bs4~=0.0.2
beautifulsoup4~=4.13.4
websocket-client==1.8.0
httpx[socks]==0.25.0
schedule==1.2.0
tiktoken==0.5.1
alembic==1.13.1
redis==5.0.1
aiohttp==3.12.15
